<h2>Create New Plan</h2>

<div class="box">
  <h2>Create your Plan</h2>

  <form action="/auth/createPlan" method="POST"  class="box" id="form-container">

    <div class="inputBox">
      <label for="title">title</label>
      <input id="title" type="text" name="title" placeholder="" value="hola"></div>

    <div class="inputBox">
      <label for="city">Name</label>
      <input id="city" type="text" name="city" placeholder="" value="madrid"></div>

    <div class="inputBox">
      <label for="date">date</label>
      <input id="date" type="date" name="date" placeholder="" ></div>

    <div class="inputBox">
      <label for="time">time</label>
      <input id="time" type="time" name="time" placeholder="" value="22:30"></div>

    <div class="inputBox">
      <label for="Price">Price</label>
      <input id="Price" type="number" name="Price" placeholder="" value="50"></div>
      <div class="inputBox">
        <label for="latitude">Latitude</label>
      <input type="text" name="latitude" placeholder="latitude" value="303030" >
      <label for="longitude">Longitude</label>
  <input type="text" name="longitude" placeholder="longitude" value="209039" >
  </div>

    <div class="inputBox">
      <label for="email">invite</label>
      <input id="myEmail" type="email" name="email" placeholder="email" value="carlos@riverette.com"></div>

   

  
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Create plan and Enjoy!!</button>

  </form>
</div>

