<h2>Created Plans</h2>
<ul>
{{#each allPlans}}
<div>
<li>{{this.title}}</li>
<li>{{this.city}}</li>
</div></br>
{{/each}}
</ul>
{{!-- </ul {{#each allPlans}}
<p>{{this.title}}</p>
<p>{{this.city}}</p>
{{/each}} --}}