<nav>
  <ul>
    <li> <a href="/">Home</a>
    </li>
    <li><a href="/auth/login">Login</a></li>
    </li>
  </ul>
</nav>

<div class="wrap">
  <div class="loginBox">
    <h2>Login</h2>

    <form action="/auth/login" method="POST" id="form-container">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="user-name">

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="password">


      <button class="instagram"><a href="/auth/instagram">INSTAGRAM</a></button>

      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <button>Login</button>

    </form>
  </div>
  <div class="loginBox">
    <h2>Signup</h2>

    <form action="/auth/signup" method="POST" id="form-container">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="user-name">

      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="email">

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="password">

      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <button>Create account</button>
    </form>
    {{!-- </br>
    <div>
      <a href="/auth/instagram">Login with Instagram</a>
    </div> --}}
  </div>
</div>