<div>
  <header id="user-profile">
    <div>
      <h1>Welcome {{user.username}}</h1>
      <img class="img" src="{{user.photo}}" alt="ImgPerfil"/>
    </div>
  </header>

  <div><a href="/auth/create-plan" class="btn-plan"></a></div>

  <section class="datos-photos">
    <h2>Upload your photo</h2>
    <form action="/auth/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="photo">
      <input type="submit" value="Save">
    </form>
  </section>
  <div class="box3">
    <section class="box-profile">
      <h2>Past Plan</h2>
    </section>

    <section class="box-profile">
      <h2>Top Rated Plan</h2>
    </section>


    <section class="box-profile">
      <h2>Future Plans</h2>
    </section>
  </div>
</div>

