<div class="indexWrapping">
<div class="">
  <a href="auth/login">
<img src="https://res.cloudinary.com/dumuchjet/image/upload/v1563099418/fotos/logo_hyyioi.jpg" alt="" height="700px" width="700px">
</a>
</div>

{{!-- <div id="inicio"><a href="auth/login">Start making plans!!!!</a></div> --}}
</div>