<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/logout">Logout</a>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
  <script>
function myFunction() {
  document.getElementById("myEmail").multiple = true;
}
myFunction()
</script>
<script>
  window.onload =  setup();

var pointA = 1;
var pointB = 1;
var totalVotes = pointA + pointB;

function addleft(){
    pointA += 1;
    totalVotes += 1;
    updatePoints();
    console.log(pointA + ' '+ pointB);
}
function addright(){
    pointB += 1;
    totalVotes += 1;
    updatePoints();
    console.log(pointA + ' '+ pointB);
}

function updatePoints(){
    var percentA = (pointA / totalVotes) * 100;
    var percentB = (pointB / totalVotes) * 100;
    var size = percentA + "% " + percentB + "%";

    document.getElementById("size-one").innerHTML = Math.round(percentA) + '%';
    document.getElementById("size-two").innerHTML = Math.round(percentB) + '%';
    document.getElementById("voting-box").style.gridTemplateColumns=  percentA + "% " + percentB + "%";

    document.getElementById("total-votes").innerHTML = "Total Votes Casted: " + totalVotes;
    document.getElementById("total-left").innerHTML = "Option A: " + pointA;
    document.getElementById("total-right").innerHTML = "Option B: " + pointB;
    document.getElementById("host-name").innerHTML = "Hosted by: pragyakar";
}

function setup() {
    pointA = 1;
    pointB = 1;
    totalVotes = pointA + pointB;

    document.getElementById("option-one").innerHTML = "Yes";
    document.getElementById("option-two").innerHTML = "No";

    updatePoints();
}
</script>
</body>
</html>
