<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  {{!-- <nav>
    <ul>
      <li> <a href="/">Home</a>
      </li>
      <li><a href="/auth/login">Login</a></li>
      </li>
      <li> <a href="/auth/login">Signup</a>
      </li>
      <li> <a href="/auth/logout">Logout</a>
      </li>
    </ul>
  </nav> --}}

  {{{body}}}
  <script>
    function myFunction() {
      document.getElementById("myEmail").multiple = true;
    }
    myFunction()
  </script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPSAPIKEY}}&libraries=places&callback=initAutocomplete"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>