body {
  margin: 0;
  padding: 0;
  background-color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

#main {
  background-size: cover;
  position: relative;
  left: 20px; }

#d1 {
  height: 250px;
  width: 250px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 150px;
  background-image: url("https://res.cloudinary.com/dumuchjet/image/upload/v1562701361/Granada_eux0pq.jpg");
  background-size: 1434px 926px;
  background-position: 0px -150px;
  z-index: 2; }

#d2 {
  height: 500px;
  width: 500px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 80px;
  left: 100px;
  background-image: url("https://res.cloudinary.com/dumuchjet/image/upload/v1562701361/Granada_eux0pq.jpg");
  background-size: 1434px 926px;
  background-position: -100px -80px;
  z-index: 1; }

#d3 {
  height: 650px;
  width: 600px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 300px;
  background-image: url("https://res.cloudinary.com/dumuchjet/image/upload/v1562701361/Granada_eux0pq.jpg");
  background-size: 1434px 926px;
  background-position: -300px 0px;
  z-index: 3; }

#d4 {
  height: 400px;
  width: 400px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5px;
  left: 700px;
  background-image: url("https://res.cloudinary.com/dumuchjet/image/upload/v1562701361/Granada_eux0pq.jpg");
  background-size: 1434px 926px;
  background-position: -700px -5px;
  z-index: 1; }

#inicio {
  height: auto;
  width: auto;
  border-right: 3px solid white;
  text-align: right;
  font-family: fantasy;
  font-size: 40px;
  letter-spacing: 5px;
  color: white;
  position: absolute;
  top: 200px;
  right: 100px;
  z-index: 99; }

#inicio a {
  text-decoration: none; }

#inicio a:hover {
  color: #229edb; }

.wrap {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.loginBox {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-90%, 30%);
  width: 400px;
  height: 520px;
  padding: 80px 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(54, 78, 112, 0.4); }

#photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute; }

.loginBox h2 {
  margin: 0;
  padding: 0 0 20px;
  color: #efed40;
  text-align: center; }

.loginBox label {
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  color: #fff; }

.loginBox input {
  width: 100%;
  margin-bottom: 20px; }

.loginBox input[type="text"],
.loginBox input[type="password"],
.loginBox input[type="email"],
.loginBox input[type="photo"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px; }

::placeholder {
  color: rgba(255, 255, 255, 0.5); }

button {
  margin-top: 50px;
  border: none;
  outline: none;
  width: 250px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background: #ff267e;
  cursor: pointer;
  border-radius: 20px; }

button:hover {
  background: #00b7ff;
  color: #262626; }

.loginBox a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none; }

/*profile page*/
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center; }

.box .inputBox {
  position: relative; }

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent; }

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s; }

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px; }

.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px, 20px;
  border-radius: 10px;
  cursor: pointer; }

.box-profile {
  display: flex;
  position: relative;
  align-content: space-between;
  width: 400px;
  height: 400px;
  background: #c4e6f7;
  background: transparent;
  border: none;
  border-radius: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); }

.btn-plan {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 80px;
  background: #181717;
  color: #e2dfdf;
  border-radius: 20%;
  text-align: center;
  font-size: 48px; }

.btn-plan:before,
.btn-plan:after {
  content: 'create';
  display: block;
  position: absolute;
  border: 50%;
  border: 1px solid #c5cfbe;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
  opacity: 0; }

.btn-plan:after {
  animation-delay: .5s; }

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }

.btn-plan a {
  text-decoration: none;
  font-size: 30px;
  cursor: pointer; }

.btn-plan a:hover {
  color: #03a9f4; }

.box3 {
  margin: 20px 20px;
  padding: 15px;
  display: flex;
  position: relative;
  align-content: space-between;
  justify-content: space-around; }

.box3 h2 {
  margin-top: 15px;
  margin-left: 65px;
  text-align: center; }

.datos-photos {
  display: flex;
  margin: 10px 10px;
  padding: 15px; }

.datos-photos h2 {
  margin: 0 0 30px;
  padding-right: 30px;
  color: #ee1010;
  text-align: center; }

.datos-photos input[type="text"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px; }

.datos-photos input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #074126;
  padding: 10px, 20px;
  border-radius: 15px;
  cursor: pointer; }

#user-profile {
  display: flex; }

#user-profile h1 {
  font-size: 40px;
  padding-left: 20px; }

#user-profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 25px; }

<<<<<<< HEAD
=======
.container {
  height: 100px;
  width: 300px;
  background: #ecfbff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%; }

.container > div {
  text-align: center; }

.container > div:hover {
  cursor: pointer; }

.left {
  background: #c066b1; }

.right {
  background: #61a5ff; }

.text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none; }

.option-title {
  color: white; }

.option-size {
  color: white;
  font-size: 20px; }

>>>>>>> 6d2989df3c05783160f1ce31c92afff3306cdd24
/*# sourceMappingURL=style.css.map */